.ia-indent {
  padding-left: 24px;
}

.text-link {
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}

tabbox#nsopt-tabsAdvanced > tab image.tab-icon {
  width: 16px !important;
  height: 16px !important;
  max-height: 16px !important;
  max-width: 16px !important;
}

tabbox#nsopt-tabsAdvanced > tab {
  min-height: 16px;
  marker-offset: 24px;
}

#imgs-stack {
  -moz-user-focus: normal;
}

#imgs-stack:focus {
  outline: 1px dotted #444;
}
.flexible-cbx {
  white-space: normal;
}
