.ia-indent {
  padding-left: 24px;
}

.text-link {
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}

tab.noscript-xss,
tab.noscript-yes,
tab.noscript-no,
tab.noscript-jar {
  marker-offset: 24px;
}

