
/* @import url("chrome://browser/content/extension.css"); */
body {
  background: url("/img/noscript-options.png") no-repeat fixed top right;
  background-size: 8em;
  padding: 0 4em 0 0;
  margin: 0.5em 0.5em 0.5em 0.5em;
}
#header {
  padding: 0 4em 0 0;
  margin: 0;
  text-align: right;
}
#header h1 {
  color: #048;
  text-shadow: 0.06em 0.06em 0.06em rgba(0,0,0,.5);
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: right;
}
#version {
  color: #048;
  font-size: 0.75em;
  padding: 0;
  margin: 0 0 0.5em;
  display: block;
  text-align: right;
}

#sect-general {
  margin-right: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1em;
}

#sect-general label, #sect-general button, #sect-general span {
  white-space: nowrap;
}

.opt-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.sect-sites form {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sect-sites form > label {
  white-space: nowrap;
}
#newsite {
  flex: 2 2;
}

#policy {
  display: block;
  margin-top: .5em;
  min-height: 20em;
  width: 90%;
}
.hide, div.debug {
  display: none;
}

body.debug div.debug {
  display: initial;
}

.error {
  background: #ff8;
  color: red;
}

#policy-error {
  background: red;
  color: #ff8;
  padding: 0;
  margin: 0;
  font-weight: bold;
}





input, button {
  font-size: 1em;
}

button.add {
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.opt-group {
  padding: 0.5em 0;
}
#xssFaq {
  padding: 0.5em 1em;
}
#clearclick-options {
  display: none;
}

.buttons {
  display: flex;
  align-items: flex-end;
}
