body {
  min-height: 50px;
  min-width: 600px;
  background: white;
}
#top {
  position: relative;
  margin: 0;
  height: 40px;
  min-width: 300px;
  border-bottom: 1px solid #eee;
}
#top button {
  appearance: none !important;
  -moz-appearance: none !important;
  width: 32px;
  height: 32px;
  margin: 4px;
  cursor: pointer;
  font-size: 24px;
  font-family: dialog sans-serif;
  font-weight: bold;
  color: black;
  background: white no-repeat center;
  background-size: 100%;
  transform: unset;
  transition: 0.3s all;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  padding: -4px 0;
  text-align: left;
  vertical-align: center;
  line-height: 24px;

}

#top button:hover {
  transform: scale(1.2);
}

#top button.icon {
  text-indent: -5000px;
  color: transparent;
}

#top #temp-allow-page {
  background-image: url(/img/ui-temp-all64.png);
  right: 0px;
}
#top #revoke-temp {
  background-image: url(/img/ui-revoke-temp64.png);
  right: 40px;
}

#top #options {
  background-image: url(/img/noscript-options.png);
  left: 80px;
}
#top #close {
  left: 0;
  color: #800;
  background-image: url(/img/ui-close64.png);
}

#top #reload {
  left: 40px;
  color: #080;
  background-image: url(/img/ui-reload64.png);
}

#sites {
  margin: 8px 4px;
}
