body {
  font-family: dialog, segoe-ui, helvetica, sans-serif;
}

.sites {
  border: 0;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}
.sites tr, .sites td { margin: 0; padding: 0; border: none}
.sites > tr.site:hover, .sites > tr.sites:active {
  background: rgba(160, 180, 255, .9) !important;
  /* transition: .3s linear all; */
}
.sites > tr:nth-child(even) {background: rgba(255, 255, 255, .8)}
.sites > tr:nth-child(odd) {background: rgba(240, 240, 240, .8)}

.site .url {
    padding: 0 0 0 8px;
    color: #ccc;
    vertical-align: middle;
    font-size: 14px;
}
.site .url .protocol { display: none }


[data-key="domain"] .full-address .host,
[data-key="domain"] .full-address .sub,
[data-key="domain"] .full-address .protocol,
[data-key="host"] .full-address span .protocol,
[data-key="host"] .full-address span .protocol, {
  background-color: #afe;
}
[data-key="host"] .full-address span .protocol,
[data-key="domain"] .full-address span .host,
[data-key="domain"] .full-address span .protocol {
  border: none;
}


.site .url[data-key="domain"] .domain,
.site .url[data-key="host"] .domain,
.site .url[data-key="host"] .sub,
.site .url[data-key="unsafe"] span {
  color: #a00;
}

.site .url[data-key="secure"] .domain,
.site .url[data-key="secure"] .sub,
.site .url[data-key="full"] span {
  color: black;
}

.site .url[data-key="full"] span,
.site .url[data-key="unsafe"] span {
  display: initial;
  font-size: 12px;
}

.site .url .domain {
  font-weight: bold;
}

input.https-only {
  appearance: none;
  -moz-appearance: none;
  background: url(/img/ui-http64.png) no-repeat center;
  background-size: 24px;
  width: 24px;
  height: 24px;
  margin: 0 0 -2px 2px;
  padding:0;
  cursor: pointer;
}
input.https-only:checked {
  background-image: url(/img/ui-https64.png);
}
label.https-only {
  display: none;
}

[data-preset="UNTRUSTED"] .https-only, [data-preset="DEFAULT"] .https-only {
  visibility: hidden;
}


td.presets {
  /* width: 176px; */
}

span.preset {
  position: relative;
  display: inline-block;
  perspective: 100px;
  top: 2px;

}

.preset label, .preset input, .preset button {
  cursor: pointer;
}

.presets input.preset {
  appearance: none;
  -moz-appearance: none;
  background: url(/img/ui-no64.png) no-repeat center left;
  background-size: 24px;
  width: 24px;
  height: 24px;

  opacity: .5;
  transform: rotateY(40deg) rotateX(-20deg);
  /* transition: 0.5s all; */
  margin: 0 0 -2px 2px;
}
.presets input.preset:checked {
  opacity: 1;
  transform: none;
  min-width: 150px;
  background-color: rgba(0,0,0, .1);
  border-radius: 8px;
}

.presets input.preset:focus {
  transform: none;
}
.sites input + label {
  font-size: 12px;
  line-height: 24px;
  vertical-align: top;
}
.presets label.preset {
  padding: 0;
  letter-spacing: -1px;
  width: 0px;
  overflow: hidden;

  text-transform: uppercase;
  color: #000;
  opacity: .6;
  /* transition: 0.5s all; */
  position: absolute;
  left: 0px;
  padding-left: 32px;
  display: inline-block;
}

.presets input.preset:checked + label {
  opacity: 1;
  width: 112px;
}

button.options {
  appearance: none;
  -moz-appearance: none;
  border: none;
  background: none transparent;
  font-family: fantasy dialog sans-serif;
  font-weight: bold;
  color: #048;
  text-shadow: -1px -1px 1px #fff, 2px 2px 2px #000;
  padding: 0;
  margin: 0;
}

.preset .options {
  appearance: none;
  -moz-appearance: none;

  border: 0;
  background: none;
  font-size: 16px;
  width: 16px;
  height: 16px;

  opacity: 0;
  position: absolute;
  bottom: 14px;
  left: 18px;

  pointer-events: none;
  /* transition: 0.4s all; */
}

.preset:hover input.preset:checked ~ .options {
  display: block;
  opacity: 1;
  bottom: 6px;

}

input.preset[value="TRUSTED"] {
  background-image: url(/img/ui-yes64.png)
}
input.preset[value="UNTRUSTED"] {
  background-image: url(/img/ui-black64.png)
}
input.preset[value="CUSTOM"] {
  background-image: url(/img/ui-custom64.png)
}

input.temp {
  appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  background: url(/img/ui-clock64.png) no-repeat center;
  background-size: 12px;
  width: 24px;
  height: 24px;
  transition: 0.2s all;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

input.temp + label {
  display: none;
}

input.preset:checked ~ input.temp {
  opacity: .5;
  pointer-events: all;
}
.presets input.preset:checked ~ input.temp:checked {
  opacity: 1 !important;
  background-size: 16px;
  right: -2px;
}

tr.customizing input.preset:checked, input.preset.checked + label.preset, tr.customizer fieldset {
  background-color: rgba(255, 255, 200, .9) !important;
  border-radius: 8px 8px 0 0;
}

tr.customizing, tr.customizer {
  background-color: rgba(180, 180, 150, .8) !important;
}

tr.customizer > td {
  height: 0;
  transition: 0.2s all;
  padding: 0;
  margin: 0;
}

span.cap {
  white-space: nowrap;
}

tr.customizer.closed > td  {
  height: 0;
  overflow: hidden;
}

span.cap {
  padding: 8px;
  font-weight: normal;
}

span.cap.needed {
  font-weight: bold;
  background-color: #c88;
}

fieldset {
  border: 0;
  padding: 24px 8px 8px 8px;
  margin: 0;
  position: relative;
}
legend {
  font-weight: bold;
  font-size: 12px;
  display: inline;
  position: absolute;
  top: 4px;
  left: 16px;
}
